.mainDiv{
    width: 20%;
    margin-left: 10%;
}
.errorMsg{
    color:red;
    font-size: medium;
}
input.ng-invalid.ng-touched{
    border:1px solid red;
    box-shadow: 0 0 2px inset red ;
}

.leftpane {
    width: 45%;
    height: 100%;
    float: left;
    background-color: rgb(112, 219, 144);
    border-collapse: collapse;
}
.middlepane {
    width: 10%;
    height: 100%;
    float: left;
    background-color: royalblue;
    border-collapse: collapse;
}
.rightpane {
    width: 45%;
    height: 100%;
    position: relative;
    float: right;
    background-color:rgb(199, 223, 132);
    border-collapse: collapse;
  }
  