<!-- 
<div class="mainDiv">
<form (ngSubmit)="onSubmit()" #productForm="ngForm" novalidate>
  <div class="form-group">
    <label >Product Name</label>
    <input type="text" class="form-control" id="pname1"  name="productName" [(ngModel)]="productModel.productName"  #name="ngModel" required>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="errorMsg">
            Product Name cannot be left blank
          </div>
  </div>
  <div class="form-group">
    <label >Product Cost</label>
    <input type="text" class="form-control" id="pcost" name="productCost" [(ngModel)]="productModel.productCost" required pattern="[0-9]+" #cost="ngModel">
    <div *ngIf="cost.invalid == true">not valid</div>
  </div>
  <div class="form-check">
    <label >Product Category</label>
    <select id="pCategory1" name="productCategory" [(ngModel)]="productModel.productCategory">
      <option>Laptop</option>
      <option>Camera</option>
      <option>MobilePhone</option>
    </select>
  </div>
  <button type="submit" [disabled]="productForm.form.invalid">Submit</button>
</form>
</div> -->



<div class="leftpane" >
    
  <form  (ngSubmit) = "onSubmit()">

      <div class="form-group">
          <label>ProductName </label>
          <input type="text" class="form-control" id="insname" 
           name="insName" [(ngModel)]="productDetails.productName" #name="ngModel" required/>
           <div *ngIf="name.invalid && (name.dirty || name.touched)" class="errorMsg">
            Product Name cannot be left blank
          </div>
      </div>
      <div class="form-group">
          <label>Cost</label>
          <input type="text" class="form-control" id="inssalary" 
           name="inssalary" [(ngModel)]="productDetails.productCost" required pattern="[0-9]+" #cost="ngModel"/>
           <div *ngIf="cost.invalid == true">not valid</div>
      </div>

      <div class="form-group">
        <label>Rating</label>
        <input type="text" class="form-control" id="insrating" 
         name="insrating" [(ngModel)]="productDetails.productRating"/>
    </div>
      
      <div class="form-group">
          <label> Category</label>
          <input type="text" class="form-control" id="insjoining" 
           name="insjoining" [(ngModel)]="productDetails.productCategory"/>
      </div>
      
      <div class="card-footer text-muted">
          <button class="btn btn-primary" type="submit">Submit</button>
      </div>
      
       
  </form>
  </div>

  <div class="middlepane" >
  </div>


  <!-- <div class="rightpane">
  
    <form  (ngSubmit) = "doUpdateOnServer()">
      <div class="form-group">
        <label>ProductId </label>
        <input type="text" class="form-control" id="inscode" name="inscode"
            value="{{updateDetails.productId}}" [(ngModel)]="updateDetails.productId"/>
    </div>
        <div class="form-group">
            <label>ProductName </label>
            <input type="text" class="form-control" id="insname" 
             name="insName" [(ngModel)]="updateDetails.productName"/>
             
        </div>
        <div class="form-group">
            <label>Cost</label>
            <input type="text" class="form-control" id="inssalary" 
             name="inssalary" [(ngModel)]="updateDetails.productCost"/>
        </div>
        
        <div class="form-group">
          <label>Rating</label>
          <input type="text" class="form-control" id="insrating" 
           name="insrating" [(ngModel)]="updateDetails.productRating"/>
      </div>

        <div class="form-group">
            <label> Category</label>
            <input type="text" class="form-control" id="insjoining" 
             name="insjoining" [(ngModel)]="updateDetails.productCategory"/>
        </div>
        
        <div class="card-footer text-muted">
            <button class="btn btn-primary" type="submit">Update</button>
        </div>
        
         
    </form>
    </div> -->